.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(162, 162, 162, 0.8);
  width: 100px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 10px;
  }
  > span {
    font-size: 14px;
  }
}

.player-active {
  background-color: orange !important;
}
:host {
  cursor: pointer;
  &:hover {
    filter: brightness(1.15);
  }
}
